# --------------------------------------------------------------------------
# IGNORAR ARCHIVOS Y CARPETAS GENERADAS POR PYTHON
# --------------------------------------------------------------------------

# Entornos virtuales
venv/
.venv/
env/
.env

# Archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Archivos de distribución
dist/
build/
*.egg-info/

# Logs y temporales
*.log
tmp/

# Archivo de coverage (pero NO la carpeta htmlcov)
.coverage

# Archivo temporal usado en pruebas
test_data.csv 

# --------------------------------------------------------------------------
# VISUAL STUDIO CODE
# --------------------------------------------------------------------------
.vscode/

# --------------------------------------------------------------------------
# ARCHIVOS DEL SISTEMA OPERATIVO
# --------------------------------------------------------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
